__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
tests/
reports/
.coverage
coverage.xml
htmlcov/
test.db
.env
.git/
.flake8
.coveragerc
pytest.ini
requirements-dev.txt
requirements-security.txt
Dockerfile
.dockerignore
