# cp terraform.tfvars.example terraform.tfvars   (terraform.tfvars is git-ignored)

aws_region  = "ap-south-1"
environment = "dev"
owner       = "your-name"
azs         = ["ap-south-1a", "ap-south-1b"]
vpc_cidr    = "10.20.0.0/16"

kubernetes_version = "1.31"

# Restrict the public EKS API to your own IP:  curl -s ifconfig.me
cluster_endpoint_public_access_cidrs = ["203.0.113.10/32"]

node_instance_types = ["t3.medium"]
node_capacity_type  = "SPOT" # cheaper for a short-lived demo
node_desired_size   = 2
node_min_size       = 2
node_max_size       = 4

enable_nat_gateway = true

ecr_repositories = ["taskboard-backend", "taskboard-frontend"]
